[submodule "doxygen-awesome-css"]
	path = doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "geometry_lib"]
	path = geometry_lib
	url = https://github.com/mhubii/geometry_lib
